.event1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    transform: translateY(6vmax);
  
}
.event1 h1{
    margin-top: 2vmax;
    color: black;
}
.event1-1{
    width: 80%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vmax;
    
}
.event1-11{
    width: 90%;
    margin-top: 2vmax;
}
.event1-21{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.venue{
    width: 40%;
}
.venue h4{
    margin-left: 1vmax;
    font-size: 1.2vmax;
}
.venue i{
    font-size: 2vmax;
}

.event1-2{
    width: 90%;
    background-color: white;
    color: black;
    margin-top: 2vmax;
}
.event1-2-1{
    display: flex;
    justify-content: space-between;
}
.event1-2-1 img{
    width: 30%;
}
.about{
    width: 60%;
}
.tickets{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2vmax;
    background-color: white;
    padding: 1vmax;
    border-radius: 2vmax;
}
.tickets button{
    width: 40%;
    padding: 1vmax 2.5vmax;
    border-radius: 3vmax;
    border: none;
    background-color: black;
    color: white;
    font-size: 2.3vmax;
}
.tickets h3{
    width: 40%;
    padding: 1vmax 2.5vmax;
    border-radius: 3vmax;
    border: none;
    background-color: black;
    color: white;
    font-size: 3vmax;
    text-align: center;
}
.perfomer{
    width: 90%;
    display: flex;
}
.perfomer img{
    width: 25%;
}
.address{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 2vmax;
    margin-bottom: 2vmax;

}
.address-left{
    width: 45%;
}
.address-left img{
    width: 100%;
    height: 85%;
    margin-top: 1.5vmax;
    cursor: pointer;
}
.address-right{
    width: 45%;
}
.address-right i{
    height: 5vmax;
    font-size: 3vmax;
    background-color: black;
    padding: 0vmax 1vmax;
    border-radius: 1vmax;
    margin-right: 2vmax;
    cursor: pointer;
}
.vanues{
    border-bottom: 1px solid gray;
    margin-top: 1vmax;
    padding: 1vmax;
   
    align-items: center;
    display: flex;
}
.transport{
    width: 100%;
    border-bottom: 1px solid gray;
    margin-top: 1vmax;
    padding: 1vmax;
    display: flex;
}
.transport1{
    width: 80%;
}
.bus{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed gray;
}

.hotel{
    width: 100%;
    border-bottom: 1px solid gray;
    margin-top: 1vmax;
    padding: 1vmax;
    display: flex;
}

@media (max-width:600px) {
    .event1{
        padding-top: 7vmax;
    }
    .event1-21{
        width: 100%;
        flex-direction: column;
    }
   
    .venue{
        width: 90%;
        margin-top: 1.5vmax;
    }
    .venue h4{
        font-size: 2.2vmax;
    }
    .venue i{
        font-size: 3vmax;
    }
    .event1-2-1{
        flex-direction: column;
    }
    .event1-2-1 img{
        width: 100%;
    }
    .about{
        width: 100%;
    }
    .tickets{      
        flex-direction: column;      
    }
    .tickets button{
        width: 80%;      
    }
    .tickets h3{
        width: 80%;      
        margin-right: 6vmax;
    }
    .perfomer{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
    }
    .perfomer img{
        width: 49%;
    }
    .rocking{
        width: 100%;
        font-size: 3.7vmax;
        text-align: center;
    }
    .address{
        flex-direction: column;
        align-items: center;
    
    }
    .address-left{
        width: 90%;
        text-align: center;
    }
    .address-left img{
        width: 100%;
    }
    .address-right{
        width: 90%;
        text-align: center;
        margin-top: 2vmax;
    }
    .address-right i{
        width: 7vmax;
        height: 7vmax;
        text-align: center;
        font-size: 5vmax;
    }
    .vanues{
        flex-direction: column;
        align-items: center;
    }
    .transport{
        flex-direction: column;
        align-items: center;
    }
    .hotel{
        flex-direction: column;
       align-items: center;
    }

}


@media (min-width:600px) and (max-width:830px) {
    .event1{
        padding-top: 3vmax;
    }
    .event1-21{
        width: 100%;
        flex-direction: column;
    }
   
    .venue{
        width: 90%;
        margin-top: 1.5vmax;
    }
    .venue h4{
        font-size: 2.2vmax;
    }
    .venue i{
        font-size: 3vmax;
    }
    .event1-2-1{
        flex-direction: column;
    }
    .event1-2-1 img{
        width: 100%;
    }
    .about{
        width: 100%;
    }
    .about h1{
   font-size: 4vmax;
    }
    .about p{
     font-size: 2vmax;
    }
    .about h3{
     font-size: 2.7vmax;
    }
    .tickets{
        flex-direction: column;
    }
    .tickets button{
        width: 80%;
    }
    .tickets h3{
        width: 80%;
        margin-right: 4vmax;
    }
    .perfomer{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
    }
    .perfomer img{
        width: 49%;
    }
    .rocking{
        width: 100%;
        font-size: 3.7vmax;
        text-align: center;
    }
    .address{
        flex-direction: column;
        align-items: center;
    }
    .address-left{
        width: 90%;
        text-align: center;
    }
    .address-left img{
        width: 100%;
    }
    .address-right{
        width: 90%;
        text-align: center;
        margin-top: 2vmax;
        font-size: 2.5vmax;
    }
    .address-right i{
        width: 7vmax;
        height: 7vmax;
        text-align: center;
        font-size: 5vmax;
      
    }
    .vanues{
        flex-direction: column;
        align-items: center;
    }
    .transport{
        flex-direction: column;
        align-items: center;
    }
    
    .hotel{
        flex-direction: column;
       align-items: center;
    }

}