*{
    margin:0;
    padding:0;
    box-sizing:boder-box;
    }
    html,body{
    height:100%;
    width:100%;
    }
   
    .ri-menu-4-line{
        display: none;
        color: black;
        font-size: 4vmax;
    } 
    .main1 h6:hover{
        color: black;
    }
    

    @media (max-width:600px) {
        .dashmargin{
            transform: translateX(6vmax);
        }
        .rightNav{
           
            left: -240px;
            
         
          
            position: absolute;
            z-index: 99;
        }
        
        #main>.rightNav>h1{
            /* background-color: red; */
            left: 0%;
           
            /* white-space: nowrap; */
            /* color: orange; */
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            /* position: absolute; */
        }
        
        .main1{
            /* background-color: red; */
            /* height: 70vh; */
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 50vw;
        }
    
        .rightNav{
            left: -190px;
        
        }
     
        .ri-menu-4-line{
            display: initial;
            margin-left: 4vmax;
        }
    }
    

    @media (min-width:600px) and (max-width:1000px) {
        .rightNav{
           
            left: -370px;
            
         
          
            position: absolute;
            z-index: 99;
        }
        
        #main>.rightNav>h1{
            /* background-color: red; */
            left: 0%;
           
            /* white-space: nowrap; */
            /* color: orange; */
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            /* position: absolute; */
        }
        
        .main1{
            /* background-color: red; */
            /* height: 70vh; */
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 50vw;
        }
    
        .rightNav{
            left: -190px;
        
        }
     
        .ri-menu-4-line{
            display: initial;
            margin-left: 4vmax;
        }
    }